/*Mixin*/

@mixin parrafosMixin {
        background-color: rgba(224, 224, 224, 0.349);
        color: white;
        font-size: 4rem;
        width: fit-content;
        font-family: 'Lobster', cursive;
}