*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

/* -------------HEADER --------------------- */

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: #FFF4D4;
    text-align: center;
}

.header:hover {
    background-color: #FFE497;
}

/*  ------NAVBAR */

.header__navbar ul{
    padding-top: 2em;
    list-style-type: none;
}
.header__navbar li{
    display: inline-block;
}


.header__navbar a {
    text-transform: uppercase;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: .2rem;
}

.header__navbar a:hover {
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ----------CONTENIDO --------------------*/
.section__main{
    background-image: url(/img/haciendaRetro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 83vh;
    text-align: center;
}

.section__main img{
    padding-top: 14rem;
    height: 10vh;
}

.section__main h1{
    color: white;
    font-size: 5rem;
    font-style: bold;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.section__main h2 {
    color: white;
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 2rem;
}

.section__main input {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFAD00;
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
}

.section__main input:hover {
    background-color: #FFBD00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 6.5rem;
}

.section__reservacion{
    background-image: url(/img/floreroHacienda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 83vh;
}

.section__reservacion form {
    display: inline-grid;
    padding-top: 5rem;
}

.section__reservacion input {
    margin-bottom: .3rem;
}

.section__reservacion textarea {
    margin-bottom: .3rem;
}

.section__nosotros {
    background-color: #FFDE64;
    height: 83vh;
    text-align: center;
}

.section__nosotros img{
    padding-top: 4rem;
    height: 20rem;
    width: 40rem;
}

.section__nosotros h1 {
    padding-top: 5rem;
}

.section__nosotros p {
    padding-top: 2rem;
    font-size: 1.2rem;
}

.section__contacto {
    background-image: url(/img/vinosVintage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 83vh;
    color: white;
    text-align: center;
}

.section__contacto h1 {
    padding-top: 5rem;
    font-size: xx-large;
}

.section__contacto h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section__contacto form {
    display: inline-grid;

}

.section__contacto input {
    margin-bottom: 1rem;
}

.section__contacto textarea {
    margin-bottom: 1rem;
}

.section__galeria {
    display: grid;
    background-color: #FFDE64;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 3rem;
    height: 78vh;
    text-align: center;
}

.section__galeria:hover {
    background-color: #ffe27b;
}

.section__galeria img:hover {
    width: 450px;
    height: 250px;
}

/* -----------FOOTER------------- */
.footer{
    background-color: #FFF4D4;
    padding: 1rem;
    text-align: center;
    color: black;
}

.footer:hover {
    background-color: #FFE497;
}

.footer ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.footer__navbar a {
    text-transform: uppercase;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: .2rem;
}

.footer__navbar a:hover {
    font-size: 1.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}